.product-options-container{
  display: flex;
  flex-direction: row;
  //flex-wrap: nowrap;
  align-content: center;
  height: 100%;
  align-items: center;
  padding-left: 8px;
}

.product-options-container-mobile{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //overflow-x: scroll;
  //width: 98vw;
  align-content: center;
  height: 100%;
  align-items: center;
}

//.container-fluid{
//  padding: 0px;
//  margin: 0;
//}

.p-button{
  height: 38px;
  margin: 0 5px;
  background: rgba(0,170,7,.1);
  border-radius: 3px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 14px;
  color: #016d05;
}
