.launch-icon{
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.q-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
